# Reference links:
# https://github.com/github/gitignore/blob/d0b80a46/VisualStudio.gitignore
# https://learn.microsoft.com/en-us/cpp/build/reference/project-and-solution-files?view=msvc-160

########################################
# Common files
########################################

Debug/
Release/

*.exe
*.dll
*.lib
*.obj
*.pdb

*.o
*.a
*.gcda
*.gcno
*.gcov

*.i
*.s

*.bak
*.~*
~*
*.lnk
Thumbs.db
Desktop.ini

########################################
# Visual Studio
########################################

.vs/

Win32/
x64/

*.user
*.suo

########################################
# Code::Blocks
########################################

bin/
obj/

*.layout
*.depend

# See 'createDefFile' option: https://wiki.codeblocks.org/index.php/Project_file
*.def

# http://wiki.codeblocks.org/index.php/Cscope_plugin
*.cscope_file_list
